html
	head
		link(rel="stylesheet" href="/picnic.css")
		link(rel="stylesheet" href="/dialog.css")
	body
		form.form-box(action="/oauth2/decision" method="post" target="_top")
			input(type="hidden" name="xsrf" value="#{xsrf}")
			input(type="hidden" name="transaction_id" value="#{id}")
			section
				h2 Confirm
			section
				p.
					The Tales of Newerth account owned by !{name} (!{email}) will be 
					authorized on !{client} with the following permissions:
				ul
					li TODO Permission scopes
					li TODO Permission scopes
			section
				button.half-button(type="submit") Accept
				button.half-button(type="submit" name="cancel" value="deny") Deny
